<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 
	<!-- java classes identifyer -->
    <servlet>
		<servlet-name>VL</servlet-name>
		<servlet-class>VerifyLicensesHTML</servlet-class>
    </servlet>
   
    <servlet>
		<servlet-name>VL2</servlet-name>
        <servlet-class>RequestNewLicenseHTML</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>VL3</servlet-name>
        <servlet-class>RenewLicenseHTML</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>VL4</servlet-name>
        <servlet-class>ReleaseLicenseHTML</servlet-class>
	</servlet>
	 
	<!-- java classes path identifyer -->
	<servlet-mapping>
		<servlet-name>VL</servlet-name>
		<url-pattern>/verify</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>VL2</servlet-name>
		<url-pattern>/request</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>VL3</servlet-name>
		<url-pattern>/renew</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>VL4</servlet-name>
		<url-pattern>/release</url-pattern>
	</servlet-mapping>
   
</web-app>